@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.active-border:focus, .active-border:hover {
    border-bottom: 2px solid #005CA9;
    display: inline-block;
    text-decoration: none;
}
.autocompleteinput{
    border-radius:10px;
    background-color: #fff;
    padding-left:3px;
}
.autocompleteinput input{
    width: 100%;
    padding: 4px;
}
.p-autocomplete-panel ul :hover {
    background-color: #c5cace;
}
.autocompleteinput ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    background-color: #000;
    width:100%;
}
.autocompleteinput li:hover{
    width:100%;
    background-color: #000;
}

@media (min-width: 800px) {
    .menu {
        display: flex !important;
        justify-content: space-around;
    }
    .menu-button {
        display: none !important;
    }
}
@media (min-width: 280px) and (max-width: 800px){
    .menu-div button{
        display: flex;
        justify-content: flex-start !important;
    }
    .menu {
        display: none;
    }
    .menu-button {
        margin-bottom: 10px;
    }
    .menu-div .open{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .search-table-div {
        margin-top: 150px;
    }
}