@media (min-width: 770px) and (max-height: 770px){
    .food_page {
       .wrapper {
        .search-container{
            flex-direction: row;
            div{
              font-size: 1.25rem;
              padding: 3px 0;
            }
            button{
              div{
                font-size: 0.8rem;
              }
            }
          } 
       }
       .container-table{
        .card{
          .p-datatable-wrapper{
            height: 330px;
          }
          input{
            height: 35px;
          }
        }
       }
    }   
}