.container-table{
  margin-bottom: 70px;
  .description-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: min-height 0.3s;
  
    position: relative;
  }
  
  .description-column:hover {
    min-height: auto;
    overflow: visible;
    white-space: normal;
    z-index: 1;
  }
  .p-datatable-wrapper{
    .p-datatable-table{
      thead{
        border-bottom: 1px solid var(--silver);
        tr{
          background-color: white;
          div{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 20px;
            span{
              margin: 10px 0;
              padding: 10px 0;
              font-size: 0.875em;
              color: var(--silver);
              svg{
                margin-left: 10px;
              }
            }
          }
        }
      }
      tbody{
        .p-datatable-emptymessage{
          vertical-align: top;
        }
        .p-datatable-emptymessage:hover{
          background: var(--background-light);
        }
        tr{
          td{
            padding: 13px 20px;
          }
        }
        tr:hover{
          background-color: var(--clouds);
        }
      }
    }
  }
  .p-datatable-wrapper::-webkit-scrollbar {
    width: 12px;               
  }
  
  .p-datatable-wrapper::-webkit-scrollbar-track {
    background: white;       
  }
  
  .p-datatable-wrapper::-webkit-scrollbar-thumb {
    background-color: #dddedf;   
    border-radius: 20px;       
    border: 3px solid white;  
  }
  .p-datatable-wrapper::-webkit-scrollbar-thumb:hover{
    background-color: var(--silver);  
  }
  
}