@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @media (min-width: 280px) and (min-height: 653px) and (max-width: 639px){
    .title {
        font-size: 10vw !important;
        margin-right: 15px;
    }
    .subtitle {
        font-size: 3.5vw !important ;
        margin-right: 15px;
    }
    .input {
        width: 30vw !important;
    }
    .password-style {
        font-size: 18px !important;
        color:#95A5A6;
    }
    .register {
        font-size: 18px !important;
        color:#95A5A6;
    }
}  */