@media (max-width: 575px) {
  .pageProposal{
    .blockTitles{
      align-items: start;
    }
  }  
}
@media (min-width: 770px) and (max-height: 770px){
  .pageProposal{
    .blockTitles{
      margin: 20px 0;
      .school{
        h1{
          font-size: 1.25rem;
          padding: 3px 0;
          line-height: normal;
        }
        h2{
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
     .container-table{
      .card{
        .p-datatable-wrapper{
          height: 330px;
        }
        input{
          height: 35px;
        }
        button{
          padding-top: 0;
          padding-bottom: 0;
          height: 40px;
        }
      }
     }
  }   
}