@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$color-span: #14AE5C;
$color-logo: #005CA9;
$span-vermelho: #F63B42;
$span-laranja: #FF9842;

.box-cnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    max-width: 210px;
    border: 2px solid $color-logo;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 20px;

    h1 {
        color: $color-logo;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
    }
}

.topo-box-cnd {
    margin: 0 auto;
    .icone-aviso {
        position: relative;
        bottom: -15px;
        right: -102px;
        // display: none;
    }
}